<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light p-3 sticky-top">
      <%= link_to "Fake Yelp", restaurants_path, class: 'h1 m-0 text-success' %>
      <button class="btn btn-success">Add Restaurant</button>
    </nav>

    <div class="container my-3">
      <%= yield %>
    </div>
  </body>
</html>
